@page
@model APP.Pages.Categories.Edit
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <input asp-for="Category.Id" hidden />
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" type="text"  />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" type="text" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-page="Index" class="btn btn-default">Back</a>
    </form>
    
</div>

@section Scripts{
    @{
        <partial name="_validationScriptsPartial"></partial>
    }
}
